p Hello, World

p
    | Hello, World!
    | This is a block of text.
    | I hope you enjoy using Jade.

p
    | <h1>Hello, World!</h1>
    | This is a block of text.
    | I hope you enjoy using Jade.
