// nesting example
div
    p
        h1 <i>Nesting example</i>
    p
        strong Hello World
    div
        small Say Hi!



// single line comments example
// just some paragraphs
p foo
p bar

// unbuffered comment example
//- this comment won't show up in HTML
p this works


// block comment example
// 
    This is a multi-line comment
    we should add more and more
    to comments
