// if/else example
- var channel = "SomethingElse"
if channel == "ForkCode"
    p Awesome
else
    p Not awesome

// unless example
- var channel = "ForkCode"
unless channel == "ForkCode"
    // OR - if channel != "ForkCode"
    p Awesome
