// HTML class in Jade
p.lead
div.row.col-md-6
.row.col-md-6

// id in Jade
div#item

// combining classes and ids
input#bar.foo1.foo2

// attributes in Jade
a.main#header(class='button', href='google.com') Google
